soporteq.tech, www.soporteq.tech {
    root * /usr/share/caddy

    handle /api/* {
        reverse_proxy backend:3001
    }

    handle /socket.io/* {
        reverse_proxy backend:3001
    }

    handle {
        try_files {path} /index.html
        file_server
    }
}
